.FactionPanel {
  position: relative;
  display: table;
  margin: 0 auto;
  font-weight: bold;
  font-size: 52px;
  text-align: center;
  padding: 64px 96px;
  max-width: 70%;
  overflow: hidden;
  z-index: 0;
  backdrop-filter: blur(1px);
  border-width: 3px;
  border-style: solid;
  -webkit-border-image: linear-gradient(#fed701, #9f8601) 30;
  -moz-border-image: linear-gradient(#fed701, #9f8601) 30;
  border-image: linear-gradient(#fed701, #9f8601) 30;
  background-color: rgba(0, 0, 0, 0); // if you don't set this, it will be white
  background-image: -webkit-linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.5) 100%
  ); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
  background-image: -moz-linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.5) 100%
  ); /* For Firefox (3.6 to 15) */
  background-image: -o-linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.5) 100%
  ); /* For old Opera (11.1 to 12.0) */
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.5) 100%
  ); /* Standard syntax; must be last */
}

.Dot {
  position: absolute;
  width: 6px;
  height: 6px;

  border-radius: 50%;
  display: block;
}

.Top {
  top: 8px;
  background-color: #fed701;
}

.Right {
  right: 8px;
}

.Bottom {
  bottom: 8px;
  background-color: #9f8601;
}

.Left {
  left: 8px;
}

.HiddenFactionPanel {
  visibility: hidden;
}

.FadeInAnimation {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

.FadeOneAnimation {
  animation: fadeOne 1s;
  -webkit-animation: fadeOne 1s;
  -moz-animation: fadeOne 1s;
  -o-animation: fadeOne 1s;
  -ms-animation: fadeOne 1s;
}

.FadeTwoAnimation {
  animation: fadeTwo 1s;
  -webkit-animation: fadeTwo 1s;
  -moz-animation: fadeTwo 1s;
  -o-animation: fadeTwo 1s;
  -ms-animation: fadeTwo 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOne {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeTwo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// ----
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
// ----
@-moz-keyframes fadeOne {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOne {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeOne {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeOne {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// ----

@-moz-keyframes fadeTwo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeTwo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeTwo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeTwo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 900px) {
  .FactionPanel {
    font-size: 48px;
    padding: 48px;
  }
}

@media screen and (max-width: 600px) {
  .FactionPanel {
    max-width: initial;
    margin: 0 16px;
    font-size: 32px;
    padding: 32px;
    bottom: 30vh;
  }
}
