.FactionPanel {
  position: relative;
  display: table;
  margin: 0 auto;
  font-weight: bold;
  font-size: 52px;
  text-align: center;
  padding: 64px 96px;
  max-width: 70%;
  overflow: hidden;
  z-index: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.38) 100%
  );
  backdrop-filter: blur(1px);
}

.FactionPanel i {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  display: block;
  margin: 0 auto;

  border-radius: 4px;
  padding: 3px;

  -webkit-mask: linear-gradient(#fff 0 0) content-box,
    /* this will cover only the content (no padding) */
      linear-gradient(#fff 0 0) padding-box; /* this will cover the content and the padding */
  -webkit-mask-composite: destination-out; /* needed for old browsers until the below is more supported */
  mask-composite: exclude; /* this will exclude the first layer from the second so only the padding area will be kept visible */

  &::before {
    content: "";
    transition: 0.3s;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, #fed701 0%, #9f8601 100%);
  }
}

.Dot {
  position: absolute;
  width: 6px;
  height: 6px;

  border-radius: 50%;
  display: block;
}

.Top {
  top: 8px;
  background-color: #fed701;
}

.Right {
  right: 8px;
}

.Bottom {
  bottom: 8px;
  background-color: #9f8601;
}

.Left {
  left: 8px;
}

.HiddenFactionPanel {
  visibility: hidden;
}

.FadeInAnimation {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

.FadeOneAnimation {
  animation: fadeOne 1s;
  -webkit-animation: fadeOne 1s;
  -moz-animation: fadeOne 1s;
  -o-animation: fadeOne 1s;
  -ms-animation: fadeOne 1s;
}

.FadeTwoAnimation {
  animation: fadeTwo 1s;
  -webkit-animation: fadeTwo 1s;
  -moz-animation: fadeTwo 1s;
  -o-animation: fadeTwo 1s;
  -ms-animation: fadeTwo 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOne {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeTwo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// ----
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
// ----
@-moz-keyframes fadeOne {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOne {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeOne {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeOne {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// ----

@-moz-keyframes fadeTwo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeTwo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeTwo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeTwo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 900px) {
  .FactionPanel {
    font-size: 48px;
    padding: 48px;
  }
}

@media screen and (max-width: 600px) {
  .FactionPanel {
    max-width: initial;
    margin: 0 16px;
    font-size: 32px;
    padding: 32px;
    bottom: 30vh;
  }
}
