.App {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  color: white;
}

.ShadowBg {
  position: absolute;
  top: 0;
  clip-path: circle(50% at 50% 50%);
  -webkit-mask-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 75%
  );

  animation: blinkIt 3s infinite;
}
.FadeInAnimation {
  animation: fadeIn 0.5s;
}

.FadeOneBgAnimation {
  // background-color: pink;
  // color: blue;
  animation: fadeOneBg 1s;
}
.FadeTwoBgAnimation {
  // background-color: red;
  // color: green;
  animation: fadeTwoBg 1s;
}

h1 {
  text-align: center;
  position: absolute;
  margin: 0;
  left: 0;
  right: 0;

  span {
    border-width: 0;
    border-bottom-width: 6px;
    border-style: solid;
    border-image-slice: 6;
    border-image-source: url("assets/borderBottom.svg");
  }
}

.TitleMiddle {
  top: 20vh;
  font-size: 64px;
  span {
    border-bottom-width: 6px;
  }
}

.TitleTop {
  top: 5vh;
  font-size: 40px;
  span {
    border-bottom-width: 4px;
  }
}

.Container {
  position: absolute;
  margin: 0;
  width: inherit;
  bottom: 50vh;
}

.ButtonContainerBottom {
  bottom: 20vh;
}

@keyframes fadeIn {
  0% {
    background-color: rgba(0, 0, 0, 0.9);
  }
  100% {
    background-color: initial;
  }
}

@keyframes fadeOneBg {
  14% {
    background-color: initial;
  }
  50% {
    background-color: rgba(0, 0, 0, 0.9);
  }
  100% {
    background-color: initial;
  }
}

@keyframes fadeTwoBg {
  14% {
    background-color: initial;
  }
  50% {
    background-color: rgba(0, 0, 0, 0.9);
  }
  100% {
    background-color: initial;
  }
}

@keyframes blinkIt {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.8;
  }

  50% {
    opacity: 0.9;
  }
  60% {
    opacity: 1;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
